*::selection {
  background: rgba(251, 255, 0, 0.58);
}

* {
  box-sizing: border-box;
}

html,
body,
.body-container {
  height: 100%;
}

.body-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  margin: 0 auto;

  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 26px;
  color: black;
  font-size: 17px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: blue;
  border-bottom: 1px solid blue;
  text-decoration: none;
}

.sections {
  display: flex;
  flex-flow: row wrap;
}

section {
  display: flex;
  flex: 1;
  max-width: 35em;
  min-width: 20em;
  flex-flow: column nowrap;
  align-items: stretch;
  height: 100%;

  margin: 17px;
  padding: 17px;
  border: 1px solid transparent;
}

section:hover,
section:active {
  border: 1px solid rgba(0,0,0,.25);
  border-radius: 2px;
}

.noto-input {
  display: inline-block;
  padding: 10px;
}

.noto-textarea {
  flex: 1;
  width: 100%;
  resize: none;
  font-size: 18px;
  min-height: 3rem;
}

.section__title {
  border: 1px solid transparent;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 52px;
  padding: 0;
}

.section__title:focus {
  outline: none;
}

.section__body {
  outline: none;
  border: 1px solid transparent;
}

/* Inserted on newline in editing mode */
.section__body div {
  margin-top: 17px;
}

.section__body:focus {
  outline: none;
}
